<table mat-table class="mat-elevation-z8">
  <tr mat-row>
    <th mat-header-cell *ngFor="let col of columns">
      {{col}}
    </th>
  </tr>
  <tr mat-row *ngFor="let st of staffTypes">
    <td mat-cell >
      {{st.Code}}
    </td>
    <td mat-cell >
      {{st.Description}}
    </td>
    <td mat-cell >
      {{st.Role}}
    </td>
    <td mat-cell >
      {{st.Active}}
    </td>
    <td mat-cell >
      {{st.Last_Modified_By}}
    </td>
    <td mat-cell >
      {{st.Last_Modified_Date_Time}}
    </td>
  </tr>
</table>

<button class="btn btn-primary" (click)="whenClicked()">Activate</button>
