<table mat-table class="mat-elevation-z8">
  <tr mat-row>
    <th mat-header-cell *ngFor="let col of columns">
      {{col}}
    </th>
  </tr>
  <tr mat-row *ngFor="let st of staffTypes | async">
    <td mat-cell *ngFor="let col of columns">
      {{st[col]}}
    </td>
  </tr>
</table>


<!--
I'm not sure if its some different version than the tutorial or something but this breaks everything
<table>
  <tr>
    <th *ngFor="let c of columns">
    {{c}}
    </th>
  </tr>
  <tr *ngFor="let ch of characters | async"
      app-table-row
      [character]="ch"
      [columns]="columns">
  </tr>
</table>
-->
