<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="addStaffTypeForm" (ngSubmit)="onSubmitAddStaffType()">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label>Staff Type Description</label>
          <input type="text"
                 id="staff-type-description"
                 class="form-control"
                 name="staffTypeDescription"
                 formControlName="description"
          >
        </div>
        <div class="col-sm-5 form-group">
          <label>Staff Type Code</label>
          <input type="text"
                 id="staff-type-code"
                 class="form-control"
                 name="staffTypeCode"
                 formControlName="code"
          >
        </div>
        <div class="col-sm-5 form-group">
          <label>Staff Role</label>
          <input type="text"
                 id="staff-role"
                 class="form-control"
                 name="staffRole"
                 formControlName="role"
          >
        </div>
        <div class="col-sm-5 form-group">
          <label>Active</label>
          <input type="text"
                 id="staff-active"
                 class="form-control"
                 name="staffActive"
                 formControlName="active"
          >
        </div>
        <div class="col-sm-5 form-group">
          <label>Last Modified By</label>
          <input type="text"
                 id="last-modified-by"
                 class="form-control"
                 name="lastModifiedBy"
                 formControlName="modBy"
          >
        </div>
        <div class="col-sm-5 form-group">
          <label>Last Modified Date/Time</label>
          <input type="text"
                 id="last-modified-date-time"
                 class="form-control"
                 name="lastModifiedByDateTime"
                 formControlName="modDate"
          >
        </div>
        <div class="col-sm-5 form-group">
          <input type="submit"
                 id="staff-type-submit"
                 class="form-control btn btn-primary"
          >
        </div>
      </div>
    </form>
  </div>
</div>
